body{
background:#f1f1f1;




}






#top-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    outline:none;
    background:rgb(226, 226, 226);
    height: 30px;
    width: 574px;
    border:1px solid #CCCCCC;
    padding:0;
  display: flex;
  
    

}

button{

    width:63px;
    height: 30px;
    padding:0;
    border:1px solid #CCCCCC;
}

